body {
  background: #fff;
  font-family: Lucida Console,Monaco,monospace;
}

a {
  color: #F206FF;
}

a:hover, a:focus {
    color: rgba(104, 89, 70, 1);
}

.menu {
  margin-top: 15px;
}

.main p, .menu a {
  font-size: 0.9rem;
}

.footer p {
  font-size: 0.6rem;
}
.main-container {
  position: relative;
}
.main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.main em {
  text-transform: uppercase;
  font-weight: bold;
  font-style: normal;
  &:first-child {
    display: block;
    font-size: 75px;
  }
}

.main a {
  text-transform: uppercase;
}

.main p {
  text-align: justify;
}
