<!DOCTYPE html>
<html class="no-js" lang="en">

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="row">
      <div class="large-10 columns">
        <div class="panel radius main">
          <div class="row">
            <div class="large-7 large-offset-5 columns text-right">
              {{ content }}
            </div>
          </div>

        </div>
      </div>
      <div class="large-2 columns">
        <img src="img/natali-vlatko.jpg" alt="Natali Vlatko" />
        <ul class="no-bullet menu">
          <li><a href="natali-vlatko-resume.pdf" target="_blank">Resume</a></li>
          <li><a href="http://www.linkedin.com/pub/natali-vlatko/65/909/6b6" target="_blank">LinkedIn</a></li>
          <li><a href="mailto:natalivlatko@gmail.com">natalivlatko@gmail.com</a></li>
          <li><a href="tel:+4915157350427">+4915157350427</a></li>
        </ul>
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
